<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        textarea {
          display: block;
          width: 240px;
          height: 100px;
          margin: 10px 0;
        }
      </style>
</head>
<body>
   <div id="app">
       <h3>个人信息注册</h3>
       姓名: <input type="text" v-model="username"> <br>
       <!-- 
          单选按钮中的name: 必须要一样，这样才会有互斥效果
                     value: 我们选中单选按钮之后，提交到后台的是value的值
       -->
       是否单身:
            <input type="checkbox" v-model="isSingle">
       性别: 
             <input v-model="gender" type="radio" name="sex" value="1"> 男
             <input v-model="gender" type="radio" name="sex" value="2"> 女
        <!-- 
             1.option: 选中某一个下拉选项后，option中的value值需要提交到后台
             2. select中的v-model获取的就是选中的option的value值
        -->
       所在城市:
             <select v-model="city">
                <option value="bj">北京</option>
                <option value="sh">上海</option>
                <option value="sz">深圳</option>
                <option value="cd">成都</option>
             </select>
        自我描述:
            <textarea v-model="desc"></textarea>
        <button @click="submitInfo">提交</button>
   </div> 
</body>
<script src="js/vue.js"></script>
<script>
   const vue = new Vue({
      el:"#app",
      data:{
        username:'',
        isSingle:false,
        gender:1,
        city:'',
        desc:''
      },
      methods:{
        submitInfo(){
            console.log(this.username)
            console.log(this.isSingle)
            console.log(this.gender)
            console.log(this.city)
            console.log(this.desc)
        }
      }
      
   })
</script>
</html>