<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div id="app">
        <!-- 
           v-if 和 v-else一起使用
        -->
        <p v-if="sex === 1">性别: 男</p>
        <p v-else>性别: 女</p>    

        <!-- 
           v-if v-else-if v-else的使用
        -->
        <p v-if="score >= 90">A</p>
        <p v-else-if="score >= 80">B</p>
        <p v-else-if="score >= 60">C</p>
        <p v-else>D</p>
    </div>
</body>
<script src="js/vue.js"></script>
<script>
    const vue = new Vue({
        el:"#app",
        data:{
          sex: 1,
          score: 65
        }
    })
</script>
</html>