<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        监听简单的数据: <input type="text" v-model="username"> <br>
        监听对象的属性: <input type="text" v-model="user.name"> <br>
        深度监听: <input type="text" v-model="emp.empname"> <br>
                  <input type="text" v-model="emp.address"> <br>
    </div>
</body>
<script src="js/vue.js"></script>
<script>
    const vue = new Vue({
        el:"#app",
        data:{
            username:'eric',
            user:{
                name:'kobe'
            },
            emp:{
                empname:'james',
                address:'USA'
            }
        },
        computed:{
            newEmp(){
                return JSON.stringify(this.emp)
            }
        },
        watch:{
            // 监听简单的数据
            username(newValue,oldValue){
                console.log('新值:',newValue,'旧值:',oldValue)
            },
            //  监听对象的属性
            'user.name'(newValue,oldValue){
                console.log('新值:',newValue,'旧值:',oldValue)
            },
            // 深度监听
            "newEmp":{
                handler(newValue,oldValue){ // newValue: 属性值发生变化的对象  oldValue: 原来的值对应的对象
                    // console.log('新值:',newValue,'旧值:',oldValue)
                    console.log('新值:',JSON.stringify(newValue),'旧值:',JSON.stringify(oldValue))
                    
                },
                deep:true,// 开启深度监听
                immediate: true // 开启立即监听
            }
        }
    })
</script>
</html>